*/config/development
*/logs/log-*.php
*/logs/*.log
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/packages/*
!application/packages/.gitkeep
/vendor/
public/uploads/*
!public/uploads/index.html
!public/uploads/.htaccess
!public/uploads/avatars/
!public/uploads/avatars/default.png
!public/uploads/avatars/.htaccess
