<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{subject}</title>
<style>
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
	margin:0;
	padding:0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
	font-size: 100%;
	line-height: 1.6;
}
img { 
	max-width: 100%; 
}
a { 
	color: #348eda;
}
p {
	margin:0 0 10px 0;
}
</style>
</head>
<body>

	<div style="padding:20px;margin:0 auto;display:block;text-align: justify;width: 100%;max-width:600px;">
		<p>Hi, {name} </p>
		<p>To activate your account, please click the following link: <br />
		<a href="{site_url}Auth/Activate/{email}/{code}">{site_url}Auth/Activate/{email}/{code}</a></p>
		<p>If you don't want to complete the registration, you can ignore this message.</p>
	</div>

</body>
</html>